/* line 3, test.scss */
body {
  font-style: normal;
  font-weight: normal;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-size: 100%;
  line-height: 1.5;
  font-size: 14px;
  padding: 20px;
}

/* line 9, test.scss */
fieldset {
  margin-bottom: 20px;
}
/* line 12, test.scss */
fieldset .Tabs {
  margin-top: 2em;
}
/* line 15, test.scss */
fieldset .Tabs:first-child {
  margin-top: 0;
}

/* line 24, test.scss */
.color,
.color--opacity,
.color--transparent,
.color--opaque {
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  background-color: lime;
  border: 1px solid #EEE;
}

/* line 31, test.scss */
.color--opacity {
  opacity: 0.5;
}

/* line 35, test.scss */
.color--opaque {
  opacity: 1;
}

/* line 39, test.scss */
.color--transparent {
  opacity: 0;
}

/* line 43, test.scss */
#slidesDemo {
  width: 300px;
  height: 200px;
}

/* line 48, test.scss */
.Slides-wrapper {
  margin-top: 10px;
}
/* line 51, test.scss */
.Slides-wrapper:first-child {
  margin-top: 0;
}

/* line 56, test.scss */
.u-aspectRatio--3to2 {
  position: relative;
  overflow: hidden;
}
/* line 134, stylesheets/_vendors.scss */
.u-aspectRatio--3to2:after {
  content: "\0020";
  display: block;
  position: relative;
  z-index: -999999999;
  padding-top: 66.66667%;
}
/* line 145, stylesheets/_vendors.scss */
.u-aspectRatio--3to2 > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 60, test.scss */
.u-aspectRatio--16to9 {
  position: relative;
  overflow: hidden;
}
/* line 134, stylesheets/_vendors.scss */
.u-aspectRatio--16to9:after {
  content: "\0020";
  display: block;
  position: relative;
  z-index: -999999999;
  padding-top: 56.25%;
}
/* line 145, stylesheets/_vendors.scss */
.u-aspectRatio--16to9 > * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
