// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my_orders{
  width: 960px;
  height: auto;
  margin: 60px auto;
  border: 1px #ccc solid;
  background-color: #fff;
}

.my_order{
  display: block;
  padding: 0 20px;
  font-size: 22px
}

.order_box{
  margin: 20px;
  height: 80px;
  width: 918px;
  background-color: #ededed;
}

.order_name{
  float: left;
  margin: 25px 0 0 25px;
  font-size: 18px;
  width: 160px;
  overflow: hidden;
}

.valid_period{
  float: left;
  margin: 23px;
  height: 30px;
  width: 100px;
  text-align:center;
  border: 1px #EC6B3F solid;
  font-size:20px;
  line-height: 30px;
  border-radius: 2px;
  color: #EC6B3F;
  background-color: #fff;
}

.total_price{
  float:left;
  width: 130px;
  text-align: center;
  margin: 25px 0;
  font-size: 20px;
  overflow: hidden;
}

.unpaid{
  float: left;
  margin: 25px;
  height: 30px;
  width: 100px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  border-radius: 2px;
  color: #fff;
  background-color: #EC6B3F;
  text-decoration: none;
  box-shadow: 1px 1px 2px #666;
  overflow: hidden;
}

.payed{
  float: left;
  margin: 25px;
  height: 30px;
  width: 100px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  border-radius: 2px;
  overflow: hidden;
}

.order_date{
  float: left;
  margin-top: 29px;
  margin-left:25px;
  \font-size: 16px;
}