@charset "UTF-8";
@import "sass.css.scss";



.link-group a { margin-left: 1em; }
.link-group a:first-child { margin-left: 0; }



/* --- Layout --- */

.layout-container { position: relative; }
.layout-footer { border-top-color: #D9D9D9; background-color: transparent; color: #666; }

#breadcrumb { border-bottom-color: #D9D9D9; }
#main { position: relative; }
#content { margin-left: 90px; }



/* --- Module --- */

.module { border: 1px solid #D9D9D9; }
.module_header { height: 50px; background-color: #F7F7F7; border-bottom: 1px solid #D9D9D9; }
.module_header h2 { line-height: 50px; }
.module_header a:link, .module_header a:visited { text-decoration: none; color: #08C; }
.module_header a:hover { text-decoration: underline; color: #005580; }
.module_content { padding: 15px; min-height: 640px; }

#content > .module:first-child { margin-top: 0; }

.mod_list > li { border-top-color: #DDD; }



/* --- Components in module header --- */

.module_header .comp_search { margin-top: 10px; }

.module_header .comp_tab_group { margin-left: -10px; }
.module_header .comp_tab_trigger { font-size: 1.15em; border-right: 1px solid #D9D9D9; line-height: 50px; height: 50px; }
.module_header .comp_tab_trigger.current { padding-bottom: 1px; }

.module_header .header_link {
  float: right;
  line-height: 50px; font-size: 1.15em;
  border-left: 1px solid #D9D9D9;
  padding: 0 1em;
}


/* --- Menu --- */

#menu {
  position: absolute; top: 0; left: 0; z-index: 9;
  width: 80px;
  @include no_gap;
}
#menu li { @include no_item; }

.menu-item {
	border: 1px solid #D9D9D9; border-top-width: 0;
	background: no-repeat 69px 52px;
	position: relative;
  background-color: #F7F7F7;
  padding: 10px 0;
}
.menu-item:first-child { border-top-width: 1px; }
.menu-item:hover { background-color: #FFF; }
.menu-item.has-submenu { background-image: image-url("admin/sub_menu_icon.png"); }
.menu-item.has-submenu:hover { background-image: none; }

.menu-item > a {
	display: block;
	width: 78px;
	background: no-repeat 50% 0;
  padding-top: 23px;
  font-size: 12px;
  color: #888;
	text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.submenu {
  display: none;
  width: 120px;
  background-color: #FFF;
  position: absolute; left: 78px; top: -1px; z-index: 99;
  border: 1px solid #D9D9D9; border-left-width: 0;
  padding: 5px;
}
.submenu li { text-align: center; }
.submenu a { display: block; padding: 5px 8px; text-decoration: none; color: #888; }
.submenu a:hover { background-color: #F7F7F7; }

.menu-item:hover .submenu { display: block; }

#mng_console { background-image: image-url("admin/menu/home.png") !important; }
#mng_course { background-image: image-url("admin/menu/course.png") !important; }
#mng_task { background-image: image-url("admin/menu/list.png") !important; }
#mng_account { background-image: image-url("admin/menu/account.png") !important; }
#mng_class { background-image: image-url("admin/menu/class.png") !important; }
#mng_wiki { background-image: image-url("admin/menu/wiki.png") !important; }
#mng_qa { background-image: image-url("admin/menu/question.png") !important; }
#mng_achievement { background-image: image-url("admin/menu/medal.png") !important; }
#mng_statistic { background-image: image-url("admin/menu/statistic.png") !important; }

.menu-item.current #mng_console { background-image: image-url("admin/menu/home_b.png") !important; }
.menu-item.current #mng_course { background-image: image-url("admin/menu/course_b.png") !important; }
.menu-item.current #mng_task { background-image: image-url("admin/menu/list_b.png") !important; }
.menu-item.current #mng_account { background-image: image-url("admin/menu/account_b.png") !important; }
.menu-item.current #mng_class { background-image: image-url("admin/menu/class_b.png") !important; }
.menu-item.current #mng_wiki { background-image: image-url("admin/menu/wiki_b.png") !important; }
.menu-item.current #mng_qa { background-image: image-url("admin/menu/question_b.png") !important; }
.menu-item.current #mng_achievement { background-image: image-url("admin/menu/medal_b.png") !important; }
.menu-item.current #mng_statistic { background-image: image-url("admin/menu/statistic_b.png") !important; }

.menu-item.current > a { color: #3F91BB; }



/* --- List --- */

.content-list { clear: both; @include no_gap; margin-top: 15px; }
.comp_tab_content .content-list:first-child { margin-top: 0; }
.content-list-item {
  height: 60px;
  border: 1px solid #DDD;
  @include no_item;
  margin-top: 10px;
  position: relative;
}
.content-list-item:first-child { margin-top: 0; }

.area-operation { width: 128px; padding: 0 1em; border-left: 1px solid #DDD; float: right; position: relative; }
.area-operation.one-button { width: 38px; }
.area-operation.two-buttons { width: 83px; }
.area-operation.four-buttons { width: 173px; }
.area-operation.five-buttons { width: 218px; }
.area-operation, .area-display { height: 100%; min-height: 1em; }
.area-display { overflow: hidden; position: relative; padding-left: 21px; }
.area-display.activity_content { font-size: 12px; }

.content-list-title,
.activity_content .title,
a.content-list-title:link,
a.content-list-title:visited { color: #83B2CE; line-height: 2.5; }
a.content-list-title:hover { color: #005580; text-decoration: underline; }
.activity_content .title { margin-bottom: 0; }



/* --- List: list with title --- */

.titled-list { border: 1px solid #D9D9D9; }
.titled-list > h3 { font-size: 14px; line-height: 30px; margin: 0 10px; }
.titled-list > ul { @include no_gap; }
.titled-list ul, .titled-list li { margin-top: 0; }
.titled-list li,
.titled-list .log_item { border-width: 0; border-top: 1px solid #D9D9D9; padding: 10px; @include no_item; }
.titled-list .log_item .content > div { position: relative; }
.titled-list .log_item a { margin: 0 .5em; }
.titled-list .log_item a:first-child { margin-left: 0; }
.titled-list .log_item span { position: absolute; right: 0; top: 0; bottom: 0; line-height: 21px; font-size: 12px; }



/* --- List: multiple columns --- */

.list-multiple-columns { overflow: hidden; }
.list-multiple-columns > li { display: inline-block; *display: inline; *zoom: 1; vertical-align: top; }
.list-multiple-columns > li.first-row { margin-top: 0 !important; }
.list-multiple-columns > li.first { margin-left: 0 !important; }

.list-two-columns > li { width: 409px; height: 60px; }
.list-two-columns > li.last { margin-left: 15px; }

.list-three-columns > li { width: 270px; margin-left: 10px; }



/* --- Buttons: buttons of list item --- */

.button-admin-group { position: absolute; left: 1em; top: 50%; margin-top: -13px; }
.button-admin-group .button-admin { float: left; margin-left: 7px;  }
.button-admin-group .button-admin:first-child { margin-left: 0; }

.button-admin { display: block; width: 38px; height: 26px; background: #999 no-repeat 50% 50%; text-indent: -999em; }
.button-admin:hover { background-color: #3D92BB; }
.button-admin.disabled { background-color: #DDD; cursor: default; }
.button-log { background-image: image-url("common/icons/admin_button/log.png"); }
.button-detail { background-image: image-url("common/icons/admin_button/detail.png"); }
.button-modify { background-image: image-url("common/icons/admin_button/modify.png"); }
.button-delete { background-image: image-url("admin/delete_btn.png"); }
.button-upload { background-image: image-url("admin/up_btn.png"); }
.button-download { background-image: image-url("admin/down_btn.png"); }
.button-up { background-image: image-url("common/icons/admin_button/up.png"); }
.button-down { background-image: image-url("common/icons/admin_button/down.png"); }



/* --- Table: Table with gaps --- */

.gap_table { width: 100%; table-layout: fixed; border-spacing: 0 5px; border-collapse: separate; margin-top: 15px; }
.gap_table th,
.gap_table td { border: 1px solid #DDD; border-left-width: 0; word-wrap: break-word; }
.gap_table tr th:first-child,
.gap_table tr td:first-child { border-left-width: 1px; }
.gap_table thead th { background-color: #F7F7F7; border-color: #F7F7F7; text-transform: uppercase; } 
.gap_table .button-admin-group { position: static; margin: 0; overflow: hidden; }



/* --- Common component reset: Select --- */

.comp_select { line-height: 18px; }
.comp_select dt { background-color: #FFF; padding-right: 28px; }
.comp_select dd { min-width: 143px; }
.comp_select dt > i {
  width: 24px; height: 24px;
  top: 1px; right: 1px;
  border: 1px solid #DDD;
  background-color: #F7F7F7; background-position: 50% -17px;
}



/* --- Common component reset: Button --- */

.comp_button:link, .comp_button:visited,
input[type="submit"].comp_button, input[type="button"],
button.comp_button { float: left; border-color: #388CC7 !important; background-color: #57A3D9 !important; line-height: 1.2; padding: 0.4em 1em; }



/* --- Pagination --- */

.pagination { background-color: #F7F7F7; border-top: 1px solid #D9D9D9; }
.pagination a:hover { background-color: #FBFBFB; }
.pagination .current { border-color: #388CC7; background-color: #57A3D9; color: #FFF; }



/* --- Tabs --- */

.admin_tabs .comp_tab_trigger {
  line-height: 28px; height: 28px;
  border: 1px solid #D9D9D9; border-left-width: 0;
  background-color: #F7F7F7;
  color: #B4B4B4;
}
.admin_tabs .comp_tab_trigger:first-child { border-left: 1px solid #D9D9D9; }
.admin_tabs .comp_tab_trigger.current { border-bottom-color: #FFF; color: #888; }
.admin_tabs .comp_tab_group { margin: 0 10px 20px 0; }
.admin_tabs .comp_tab_button { display: none; }
.admin_tabs .comp_tab_button.current { display: block; }

.admin_tabs .comp_autocomplete { height: 22px; }
.admin_tabs .comp_autocomplete_result { width: 200px; position: absolute; }



.admin_description { background-color: #F7F7F7; padding: 10px; margin-bottom: 30px; }
.admin_description .avatar { width: 110px; height: 110px; float: left; margin-right: 10px; background-color: lightBlue; border: 1px solid #D9D9D9; }
.admin_description .info { height: 90px; margin: 0 0 10px 0; overflow: hidden; }
.admin_description table { height: 110px !important; table-layout: fixed; margin-left: 150px !important; }
.admin_description tbody th { text-align: right; padding: 0 15px 0 0; }
.admin_description tbody td { padding: 0 30px 0 0; }



.icon-calendar { display: inline-block; vertical-align: text-bottom; }
.icon-calendar .label { margin-left: .5em; }



.locale-lang .comp_select,
.locale-lang .comp_select > dt,
.locale-lang .comp_select > dd,
.locale-lang .comp_select li { min-width: 60px; padding-top: 0; padding-bottom: 0; }
.locale-lang .comp_select > dt { padding: 0 24px 0 8px; border-color: #D7D7D7; border-radius: 3px; }



/* --- Locale --- */

.locale-lang .comp_select li a { margin: 0 -8px; padding: 0 8px; color: #888; text-decoration: none; }
.locale-lang .comp_select li:hover a { color: #FFF; }
.locale-lang .comp_select > dt span { padding: 0; color: #888; }
.locale-lang .comp_select > dt .tri {
  top: 50%; right: 5px;
  margin-top: -3.5px;
  background: none;
  border-width: 7px 7px 0 7px; border-color: #D9D9D9 transparent transparent transparent;
}
.locale-lang .comp_select > dd { padding: 5px 0; }
.locale-lang .comp_select.expanded.dir-t > dt .tri { border-top: none; border-bottom: 7px solid #D9D9D9; top: 0; margin-top: 7px; }
