@CHARSET "UTF-8";



/* --- Reset --- */

body, div,
dl, dt, dd,
h1, h2, h3, h4, h5, h6,
pre, form, blockquote { margin: 0; padding: 0; }

table { border-collapse: collapse; }
td, th { padding: 5px 8px; }
ul { list-style: none outside none; }
p {
  text-indent: 2em; text-align: justify; text-justify: inter-ideograph;
  padding: 3px 0; margin: 8px 0;
  hyphens: auto; line-height: 1.8;
}
img { border: 0; }



/* --- Basic Elements --- */

html, body { height: 100%; min-height: 600px; min-width: 1000px; }
body { font: normal normal 1em/1.5 Tahoma, Verdana, "BitStream vera Sans", Arial, Helvetica, Sans-serif; color: #333; -webkit-text-size-adjust: none; }
code { font-size: 0.9em; font-family: Monaco,Consolas, "Lucida Console", monospace, "Courier New", Courier, Serif; padding: 0 5px; margin: 0 3px; }
