@charset "utf-8";



body[data-page="courses-show"] {
  /* ----- skill-tree of courses ----- */

  #skillTreeArea {
    position: relative;
    font: 14px/1.5 "Microsoft Yahei", "Hiragino Sans GB", Tahoma, Verdana, "BitStream vera Sans", Arial,Helvetica, Sans-serif;
  }
  #skillTreeArea p,
  #skillTreeArea ul,
  #skillTreeArea li { margin: 0; padding: 0; }

  #course {
    width: 500px;
    position: absolute;
    font-size: 13px;
    list-style: none outside none;
    display: none;
    background-image: image-url("common/bg-transparent.gif");
  }
  #course .course-content { overflow: hidden; }
  #course li:before {
    content: ".";
    width: 0; height: 0;
    font-size: 0;
    position: absolute; z-index: 5; left: -11px; top: 19px;
    border: 11px solid transparent;
    border-right-color: #A6A6A6;
    border-left-width: 0;
  }
  #course li:after {
    content: ".";
    width: 0; height: 0;
    font-size: 0;
    position: absolute; z-index: 6; left: -10px; top: 20px;
    border: 10px solid transparent;
    border-right-color: #F5F5F5;
    border-left-width: 0;
  }
  #course li {
    display: none;
    padding: 10px;
    background-color: #F7F7F7;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 1px 3px 3px 0 #888;
    margin-left: 15px;
    *margin-left: 5px;
    position: relative;
    z-index: 4;
  }
  #course li.current { display: block; }
  #course h3 { color: #3F90BA; }
  #course p { padding: 0.6em 0 2em; color: #808080; }

  #course .linkset { float: right; }
  #course .linkset a { float: left; }
  #course .linkset a:link,
  #course .linkset a:visited {
    margin-left: 10px;
    border: 1px solid #6C9DD9;
    background-color: #79B0F2;
    height: 30px;
    line-height: 30px;
    padding: 0 2.5em;
    color: #FFF;
    text-decoration: none;
  }
  #course .linkset a:hover { background-color: #9fc7f6; }
  #course .linkset a:active { background-color: #4881c5; }
  #course .linkset a.disabled { background-color: #F0F0F0; border-color: #D9D9D9; color: #CCC; cursor: not-allowed; }
}
