@charset "UTF-8";
@import "sass.css.scss";



body[data-page="users-show"] {
  /* --- User card --- */

  .user_card { margin-bottom: 20px; }
  .user_card .module_content { padding: 20px; }
  .user_card .avatar { @include square(120px); margin: 0 40px 20px 0; }
  .user_card .card_info { overflow: hidden; position: relative; }
  .user_card ul { @include no_gap; @include no_item; }
  .user_card li { margin: 2px 0; }
  .user_card .data_table { clear: both; margin: -20px; border-top: 1px solid #E5E5E5; }
  .user_card .data_tablecell { width: 110px; }
  .user_card .data_tablecell.last { width: 790px; border-left-width: 0; text-align: left; }

  .card_info h3 { color: #FF6E3C; margin: 0 0 .3em; }
  .card_info .level_badge { vertical-align: text-top; margin-left: 5px; }
  .card_info .level_progressbar_wrapper { position: absolute; top: 20px; right: 0; width: 400px; }



  /* --- Medal list --- */

  .medal_list { position: absolute; top: 50%; left: 15px; margin-top: -30px !important; }
  .medal_list li {
    width: 60px; height: 60px;
    margin: 0 0 0 10px;
    text-align: center;
    position: relative;
    vertical-align: top;
    overflow: hidden;
  }
  .medal_list li:first-child { margin-left: 0; }
  .medal_list .medal_placeholder { display: block; width: 56px; height: 56px; @include hide_word; border: 2px dashed #E1E1E1; }
  .medal_list .medall_all {
    a {
      @include hide_word;
      display: block;
      width: 100%; height: 100%;
      position: relative;

      i {
        border-width: 13px; border-left-color: $border;
        top: 50%; left: 50%;
        margin-top: -13px; margin-left: -(13px/2);
      }

      &:hover {
        background-color: $border;

        i { border-left-color: #FFF; }
      }
    }
  }



  .data_table { height: 90px; }
  .data_tablecell {
    width: 100px; height: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    float: left;
    border-left: 1px solid #E5E5E5;
  }
  .data_tablecell:first-child { border-left: none; }
  .data_inner {
    position: absolute; top: 50%; left: 0; right: 0;
    margin-top: -27px;
    line-height: 1.3;
  }
  .data_count { font-size: 2em; }



  /* --- Header tabs --- */

  .module.comp_tab_wrapper { margin-top: 51px; }
  .module.comp_tab_wrapper .module_header { height: 31px; border-bottom: none; }
  .module.comp_tab_wrapper .module_content { position: relative; z-index: 3; margin-top: -31px; }

  .module_header .comp_tab_group { top: -100%; right: auto; margin-top: 0; }
  .module_header .comp_tab_trigger {
    height: 28px; line-height: 28px;
    margin: 2px 0 0 5px; padding: 0 2em;
    background-color: #CECBC8;
    color: $text-light !important;

    &:hover { background-color: #DCDCDC !important; }
    &:first-child { margin-left: 15px; }
    &.current {
      height: 30px;
      padding-bottom: 0; margin-top: 0;
      border: 1px solid #DCDCDC; border-bottom-width: 0;
      background-color: #FFF !important;
    }
  }
}
