@charset "UTF-8";
@import "sass.css.scss";



@-webkit-keyframes notice_flash {
  0% {
    border-color: #FFF;
    box-shadow: none;
  }
  50% {
    border-color: #FE855B;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 2px #FE855B;
  }
  100% {
    border-color: #FFF;
    box-shadow: none;
  }
}
@-moz-keyframes notice_flash {
  0% {
    border-color: #FFF;
    box-shadow: none;
  }
  50% {
    border-color: #FE855B;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 2px #FE855B;
  }
  100% {
    border-color: #FFF;
    box-shadow: none;
  }
}
@-ms-keyframes notice_flash {
  0% {
    border-color: #FFF;
    box-shadow: none;
  }
  50% {
    border-color: #FE855B;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 2px #FE855B;
  }
  100% {
    border-color: #FFF;
    box-shadow: none;
  }
}
@-o-keyframes notice_flash {
  0% {
    border-color: #FFF;
    box-shadow: none;
  }
  50% {
    border-color: #FE855B;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 2px #FE855B;
  }
  100% {
    border-color: #FFF;
    box-shadow: none;
  }
}
@keyframes notice_flash {
  0% {
    border-color: #FFF;
    box-shadow: none;
  }
  50% {
    border-color: #FE855B;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 2px #FE855B;
  }
  100% {
    border-color: #FFF;
    box-shadow: none;
  }
}



@-webkit-keyframes progressbar_stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progressbar_stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes progressbar_stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progressbar_stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progressbar_stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}



@-webkit-keyframes spin {
  from {
    @include transform( rotate(0deg) );
  }
  to {
    @include transform( rotate(360deg) );
  }
}
@-moz-keyframes spin {
  from {
    @include transform( rotate(0deg) );
  }
  to {
    @include transform( rotate(360deg) );
  }
}
@-ms-keyframes spin {
  from {
    @include transform( rotate(0deg) );
  }
  to {
    @include transform( rotate(360deg) );
  }
}
@-o-keyframes spin {
  from {
    @include transform( rotate(0deg) );
  }
  to {
    @include transform( rotate(360deg) );
  }
}
@keyframes spin {
  from {
    @include transform( rotate(0deg) );
  }
  to {
    @include transform( rotate(360deg) );
  }
}
