body,
button,
input,
textarea {
  @extend %base-font;
  color: $color-text;
  background-color: #FFF;
}

input[type="radio"],
input[type="checkbox"] {
  background-color: transparent;
}

img {
  max-width: 100%;
}
