@import "placeholders";

// IE6 only
@mixin hack-ie6 {
  * html {
    @content;
  }
}

@mixin square( $size: 16px ) {
  width: $size;
  height: $size;
}

@mixin triangle( $params: (
    dir: top,
    width: 5px,
    color: #000
  ) ) {
  @extend %text-hide;
  position: absolute;
  width: 0 !important;
  height: 0 !important;
  border: map-get($params, "width") solid transparent;
  border-#{map-get($params, "dir")}-color: map-get($params, "color");
}

@mixin card_style {
  border: 1px solid #E0E0E0;
  border-bottom-width: 2px;
  border-radius: 2px;
}

@mixin no_item {
  list-style: none outside none;
}

@mixin tag_unit {
  @include inline-block;
  max-width: 120px;
  margin-right: 5px; padding: 0 8px;
  border-radius: 2px;
  background-color: #DCE4E6;
  color: $text !important;
  text-decoration: none !important;
  @extend %text-ellipsis;
}
