// IE6 only
@mixin hack-ie6 {
  * html {
    @content;
  }
}

@mixin square( $size: 0 ) {
  width: $size;
  height: $size;
}

@mixin card_style {
  border: 1px solid #E0E0E0;
  border-bottom-width: 2px;
  border-radius: 2px;
}

@mixin hide_word {
  font: 0px/0 a;
}

@mixin no_gap {
  margin: 0;
  padding: 0;
}

@mixin no_item {
  list-style: none outside none;
}

// 文本省略
@mixin ellipsis {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

@mixin tag_unit {
  @include inline-block;
  max-width: 120px;
  margin-right: 5px; padding: 0 8px;
  border-radius: 2px;
  background-color: #DCE4E6;
  color: $text !important;
  text-decoration: none !important;
  @include ellipsis;
}
