@mixin base-font( $font_size: $font_size ) {
  font: {
    style: normal;
    weight: normal;
    family: $font_family;
    size: $font_size;
  }

  line-height: $line_height;
}

@mixin punc_under {
  position: relative;
  text-indent: 0;

  &:after {
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 1;
  }
}
