@mixin triangle( $width: 5px, $color: #000, $dir: top ) {
  @include inline-block(none);
  @include text-hide;
  width: 0 !important;
  height: 0 !important;
  border: $width solid transparent;
  border-#{$dir}-color: $color;
}

@mixin no_item {
  list-style: none outside none;
}

@mixin no_gap {
  margin: 0;
  padding: 0;
}

// 渐变按钮
@mixin gradient_button( $bg_color, $normal_start, $normal_end, $hover_start, $hover_end ) {
  background-color: $bg_color;
  @include linear-gradient($normal_start, $normal_end);

  &:hover {
    @include linear-gradient($hover_start, $hover_end);
  }

  &:active {
    @include linear-gradient($hover_end, $hover_start);
  }
}
