// Drop-down List



.DropList,
.DropDown--upon,
.DropDown--upon .DropDown-list {
  position: relative;
}

.DropList,
.DropDown--upon {
  @include inline-block(none);
}



.DropList {
  min-width: 120px;
  border: 1px solid #A6A6A6;
  border-radius: 3px;
  background-color: #FFF;

  @include dropdown-element(".DropList-dropdown", left);

  &:hover {
    border-radius: 3px 3px 0 0;
  }

  .DropList-selected {
    position: relative;
    cursor: pointer;

    &:after {
      $b_w: 6px;

      content: $UN-space;
      position: absolute;
      top: 50%;
      right: 0;
      @include square(0);
      border: $b_w solid transparent;
      border-bottom-width: 0;
      border-top-color: #A6A6A6;
      margin: -($b_w/2) (20px/2 - $b_w) 0 0;
    }

    .DropList-label {
      @include inline-block(none);
      margin: 0 20px 0 9px;
      padding: 5px 0;
    }
  }

  .DropList-dropdown {
    z-index: 999;
    width: 100%;
    background-color: #FFF;
    border: 1px solid #A6A6A6;
    border-top-color: transparent;
    border-radius: 0 0 3px 3px;
    margin: 0 -1px;

    .DropList-list {
      @include no_item;
      max-height: (1.5 * 14px + 10px) * 10;
      padding: 0 0 0 4px;
      margin: 0 4px 4px 0;
      overflow: auto;

      li {
        @include line_feed;
        break-word: normal;
        padding: 5px;
        cursor: pointer;

        &:hover,
        &.is-selected {
          background-color: #1385E5;
          color: #FFF;
        }
      }

      &:hover li.is-selected {
        background-color: transparent;
        color: inherit;

        &:hover {
          background-color: #1385E5;
          color: #FFF;
        }
      }
    }
  }
}

.DropList--dummy {
  display: none;
}



.DropDown--upon {
  padding-top: 10px;

  &:hover .DropDown-list {
    display: block;
  }

  .DropDown-list {
    display: none;
    position: absolute;
    @include no_item;
    bottom: 100%;
    left: 50%;
    width: 6em;
    margin: 0 0 0 -3em;
    padding: 10px 0;
    text-align: center;
    background-color: #FFF;
    border: 1px solid #A6A6A6;
    border-radius: 3px;

    &:before,
    &:after {
      content: $UN-space;
      position: absolute;
      top: 100%;
      left: 50%;
      @include square(0);
    }

    &:before {
      border: 0 solid transparent;
      border-width: 10px 10px 0;
      border-top-color: #A6A6A6;
      margin-left: -6px;
    }

    &:after {
      border: 0 solid transparent;
      border-width: 9px 9px 0;
      border-top-color: #FFF;
      margin-left: -5.5px;
    }
  }
}
