@charset "UTF-8";



input[type="text"],
input[type="hidden"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea { border-color: #E3D5C6; box-shadow: none !important; outline: none; }
input[type="text"]:focus,
input[type="hidden"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus { border-color: #69B0E3 !important; }



/* --- Layout --- */

.layout-container { width: 1000px; background-color: #FFF; }
.layout-header .layout-inner { width: 1000px; }

#content { padding: 0 15px 51px; }



/* --- Module --- */

.module_header { background: image-url("common/bg/twill.png"); height: 34px; padding: 0; }
.module_header h2 { line-height: 34px; margin-left: 10px; }

.module_header .linkset { line-height: 34px; margin-right: 10px; }
.module_content { padding: 0; }



/* --- Components in module header --- */

.module_header .comp_tab_trigger { height: 34px; line-height: 34px; border-right-color: #E3D5C6; }
.module_header .comp_tab_trigger.current { padding-bottom: 0; background-color: #B3ABA2 !important; color: #FFF; font-weight: normal; }

.header-action { position: absolute; top: 5px; right: 10px; height: 22px; }
.header-action a { height: 22px; line-height: 22px; background-color: #FFF; border: 1px solid #C0B4A7; }
.header-action a:hover { text-decoration: none; }
.header-action a.disabled { color: #EDE6DE; border-color: #EDE6DE; cursor: default; }

.header-switcher { position: absolute; top: 0; right: 0; bottom: 0; }
.header-switcher .switcher {
  width: 37px; height: 100%;
  float: none;
  display: inline-block; *display: inline; *zoom: 1;
  vertical-align: middle;
  border: none;
  font: 0px/0 a;
  background: transparent no-repeat 50% 50%;
}
.header-switcher .switcher.current { background-color: #B3ABA2 !important; }
.header-switcher .switcher-list { background-image: image-url("common/icons/switcher/list.png"); }
.header-switcher .switcher-list.current { background-image: image-url("common/icons/switcher/list_selected.png"); }
.header-switcher .switcher-tree { background-image: image-url("common/icons/switcher/tree.png"); }
.header-switcher .switcher-tree.current { background-image: image-url("common/icons/switcher/tree_selected.png"); }

.module_header .more span { font-size: 30px; line-height: 1; display: block; margin-top: -13px; padding: 0 5px; vertical-align: text-top; }

.module_header .pagination,
.module_header .pagination a { padding: 0; }
.module_header .pagination a { display: inline-block; width: 20px; text-align: center; margin-left: 5px; }
.module_header .pagination a:first-child { margin-left: 0; }
.module_header .pagination span { display: block; font: 22px/20px Verdana; }



/* --- List of icons or avatars with no text --- */

.icon_list { overflow: hidden; padding: 15px 0; }
.icon_list > li { float: left; width: 60px; margin: 6.25px; }
.icon_list > li a { position: relative; display: block; }
.icon_list > li:hover a:after {
    content: "\20";
    position: absolute; top: 0; left: 0;
    width: 54px; height: 54px;
    border: 3px solid #FE7B4E;
    background-color: #000;
    opacity: .5; filter: alpha(opacity=50);
}



/* --- Section --- */

.section { color: #666; }
.section_title {
    font-weight: normal;
    font-size: 1.15em;
    line-height: 26px;
    border-bottom: 1px solid #FBF9F6;
    padding: 0 5px;
    margin-bottom: 5px;
}

.tags > li { background: image-url("common/icons/tag-gray.png") no-repeat 5px 50%; padding-left: 28px; margin-top: .3em; }
.tags > li.current { background-image: image-url("common/icons/tag-orange.png"); }
.tags > li:first-child { margin-top: 0; }
.tags .tag { color: #666; padding: 0 5px; }
.tags > li:hover .tag, .tags .tag:hover { text-decoration: none; background-color: #F7EDE3; }
.tags .tag.current, .tags .current .tag { color: #FF6E3C; background-color: #F7EDE3; }



/* --- Pagination --- */

.pagination { border-top: 1px solid #F7EDE3; }
.pagination a:hover { background-color: #FBF9F6; border: 1px solid #E3D5C6; color: #E3D5C6; }
.pagination .current { border-color: #E66633; background-color: #FE7B4E; color: #FFF; }



/* --- Components --- */

.comp_select, .comp_select > dt, .comp_select > dd, .comp_select li { min-width: 60px; color: #E3D5C6; background-color: transparent; }
.comp_select > dt { padding: 0 24px 0 8px; line-height: 22px; height: 24px; border-color: #E3D5C6; }
.comp_select > dt span { padding: 0; }
.comp_select > dt i { top: 2px; }
.comp_select > dt .tri { background: none; border: 7px solid transparent; border-top-color: #E3D5C6; top: 9px; }
.comp_select > dd { padding: 5px 0; border-color: #E3D5C6; }
.comp_select li { padding: 0 8px; line-height: 22px; }
.comp_select li:hover { background-color: #FAF5F0; color: #E3D5C6; }
.comp_select [data-selected="true"] { background-color: #E3D5C6 !important; color: #FFF !important; }

.comp_select.expanded > dt { background-color: #E3D5C6; color: #FFF; }
.comp_select.expanded > dt .tri { border-top-color: #FFF; }
.comp_select.expanded.dir-t > dt .tri { border-bottom-color: #FFF; border-top-color: transparent; top: 0; }

.comp_search_text { width: 253px; box-shadow: none; }
button.comp_search_button, input.comp_search_button { background-image: image-url("common/icons/search-brown.png"); }

.comp_search.with_select { padding-left: 94px; }
.comp_search.with_select .comp_select > dt { min-width: 61px; height: 28px; line-height: 26px; border-right: none; }
.comp_search.with_select .comp_select > dt .tri { top: 11px; }
.comp_search.with_select .comp_select li { line-height: 26px; }
.comp_search.with_select .comp_search_text { width: 159px; *margin-top: -1px; }



/* --- Level --- */

.level_badge i,
.level_cursor i { position: absolute; width: 0; height: 0; border: 0 solid transparent; }
.level_badge {
    display: inline-block; *display: inline; *zoom: 1;
    position: relative;
    height: 16px;
    font: normal normal 12px/16px Monaco, Consolas, "Lucida Console", monospace, "Courier New", Courier, Serif;
    padding: 0 5px;
    background-color: #B8DA8B;
    border: 1px solid #99BF68; border-right-width: 0;
    color: #FFF;
}
.level_badge .tri_bg { top: -1px; right: -18px; border-width: 9px; border-left-color: #99BF68; }
.level_badge .tri_fg { top: 0; right: -16px; border-width: 8px; border-left-color: #B8DA8B; }
.level_cursor {
    position: absolute; right: -8px;
    width: 14px; height: 22px;
    border: 1px solid #BFBFBD; border-bottom-width: 0;
    background-color: #E2E2E2;
    background-image: -webkit-linear-gradient(120deg, #E2E2E2 0%, #E2E2E2 60%, #ECECEC 60%, #ECECEC 100%);
    background-image: -moz-linear-gradient(120deg, #E2E2E2 0%, #E2E2E2 60%, #ECECEC 60%, #ECECEC 100%);
    background-image: -ms-linear-gradient(120deg, #E2E2E2 0%, #E2E2E2 60%, #ECECEC 60%, #ECECEC 100%);
    margin-top: -4px;
}
.level_cursor i { top: 22px; }
.level_cursor .level_cursor_bg { right: -1px; left: -1px; border-width: 8px; border-top-color: #BFBFBD; }
.level_cursor .level_cursor_fg { right: 0px; left: 0px; border-width: 7px; border-top-color: #E2E2E2; }

.level_progressbar_graduate {
    height: 16px;
    line-height: 16px;
    border: 1px solid #BFBFBD; border-radius: 9em;
    position: relative;
    margin: 0 50px;
}
.level_progressbar {
    width: 0;
    position: absolute; top: 0; bottom: 0; left: 0;
    background-color: #B8DA8B;
    border-radius: 9em 0 0 9em;
}
.level_label {
    float: left;
    width: 50px; height: 18px;
    line-height: 18px;
    text-align: center;
}
.level_score_wrapper {
    display: inline-block; *display: inline; *zoom: 1;
    margin-top: 15px; padding: 3px 8px;
    background-color: #F7F7F7;
    overflow: hidden;
}
.level_score {
    text-align: right;
    line-height: 2;
    float: right;
    padding-left: 22px;
    background: image-url("common/icons/coin.png") no-repeat 0 50%;
}
.level_score_wrapper .level_badge { margin: 5px 20px 0 0; }

.level_progressbar_wrapper { position: relative; z-index: 2; text-align: center; }
.level_progressbar_wrapper .level_label:first-child { float: right; }
.level_progressbar_wrapper.level_hidden .level_progressbar_graduate { margin: 0; }



.locked {
    filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0' /></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
}
