@charset "UTF-8";
@import "sass.css.scss";



html, body { height: 100%; }



/* --- Layout --- */

.layout-main { width: $layout-main; float: left; }
.layout-sub { width: $layout-sub; float: right; }
.layout-inner { width: $page_width; margin: 0 auto; }

.layout-header {
  position: relative; z-index: 10;
  height: 60px;
  background-color: #FFF;
  border-bottom: 2px solid #C5CFD2;
  margin-bottom: -62px;
}
@media all and (min-width: 0) {
  .layout-header { border-bottom: none; box-shadow: 0 2px 0.5em -0.2em #666; }
}
.layout-footer { height: 50px; margin-top: -51px; border-top: 1px solid #B8C4C8; background-color: #B8C4C8; color: #FFF; }
.layout-container { min-height: 100%; }
.layout-container:after {
  content: "\20";
  display: block;
  height: 81px;
  position: relative; z-index: -999999999;
  background: transparent none !important;
  visibility: hidden;
}



/* --- Header --- */

.layout-header .layout-inner { position: relative; z-index: 1; height: 60px; }
.layout-header li {  list-style: none outside none; }

.header-nav,
.header-nav > li,
.header-nav > li > a { height: 100%; }
.header-nav { border-left: 1px solid #DCE4E6; @include no_gap; }
.header-nav > li { position: relative; float: left; }
.header-nav > li > a { display: block; }

.subnav {
  display: none;
  min-width: 120px;
  position: absolute; top: 95%; right: 0;
  background-color: #FFF;
  border: 1px solid #BBB;
  padding: .5em;
}
@media all and (min-width: 0) { .subnav { box-shadow: 0 1px .8em rgba(102, 102, 102, 0.7); } }
.subnav a,
.subnav span {
  position: relative;
  display: block;
  padding: 0 1em 0 36px;
  color: #888;
  line-height: 2.2;
  white-space: nowrap;
}
.subnav a:hover { background-color: #3FAFD9; text-decoration: none; color: #FFF; }
.subnav span { padding: 0; text-align: center; background-color: #E7F3F9; color: #08C; }
.subnav i {
  position: absolute; top: 50%; left: 10px;
  width: 16px; height: 16px;
  margin-top: -8px;
  background: image-url("common/sprites-16.png") no-repeat;
}

.subnav li.tri_bg { border-bottom-color: #BBB; border-width: 9px; top: -18px; right: 4px; }
.subnav li.tri_fg { border-bottom-color: #FFF; border-width: 8px; top: -16px; right: 5px; }

.subnav .my_homepage i { background-position: -80px 0; }
.subnav .my_homepage:hover i { background-position: -80px -16px; }
.subnav .my_courses i { background-position: -48px 0; }
.subnav .my_courses:hover i { background-position: -48px -16px; }
.subnav .my_exercises i { background-position: -64px 0; }
.subnav .my_exercises:hover i { background-position: -64px -16px; }
.subnav .my_tasks i { background-position: -16px 0; }
.subnav .my_tasks:hover i { background-position: -16px -16px; }
.subnav .my_friends i { background-position: -96px 0; }
.subnav .my_friends:hover i { background-position: -96px -16px; }
.subnav .my_schools i { background-position: -32px 0; }
.subnav .my_schools:hover i { background-position: -32px -16px; }
.subnav .my_passport i { background-position: -96px -64px; }
.subnav .my_passport:hover i { background-position: -96px -80px; }
.subnav .sn_signout i { background-position: 0 0; }
.subnav .sn_signout:hover i { background-position: 0 -16px; }

.header-nav > li:hover .subnav { display: block; }

.sn_separator { border-top: 1px solid #E8E8E8; margin-top: .3em; padding-top: .3em; }

#logo { margin: 0 20px; vertical-align: middle; }



/* --- Header: navigator --- */

.nav {
  @include inline-block;
  vertical-align: middle;
  overflow: hidden;
  font-size: 16px;
  padding-left: 1.2em;
}
.nav a {
  text-transform: uppercase; text-decoration: none;
  padding: 0 1.2em;
  color: #888;
  font-weight: bold;
  line-height: 70px;
}
.nav a:hover { height: 58px; border-bottom: 4px solid #3AD0FF; color: #2FAAD1; }



/* --- Header: toolbar --- */

.toolbar { position: absolute; z-index: 2; top: 0; right: 0; height: 60px; }
.toolbar > li { border-left: 1px solid #DCE4E6; }
.toolbar > li:first-child { border-left: none; }
.toolbar a:hover { text-decoration: none; }
.toolbar .name { color: #888; margin-right: 10px; *zoom: 1; *vertical-align: top; }
.toolbar .avatar { width: 30px; height: 30px; margin: 15px 8px 0 15px; }

.toolbar #account { position: relative; padding-right: 20px; line-height: 60px; }
.toolbar #account .tri { border-top-color: #3FAFD9; border-width: 6px; top: 50%; right: 8px; margin-top: -3px; }

#noticeBell { position: relative; }
#noticeBell .counter {
  display: none;
  position: absolute; bottom: 16px; right: 13px;
  width: 8px; height: 8px;
  border: 2px solid #FFF; border-radius: 50%;
  font: 0px/0 a;
  text-align: center;
  background-color: #FB784B;
  @include linear-gradient(#FE855B, #FB784B);
  @include animation(notice_flash 2s linear infinite);
}
#noticeBell img { margin: 20px 15px 0; }
#noticeBell:hover .counter { cursor: pointer; }
.has_notice #noticeBell .counter { display: block; }
.has_notice #noticeBell img { margin-right: 15px; }

#logout img { margin: 13px 10px 0; }

#notification {
  height: 30px; line-height: 30px;
  text-align: center;
  border: 1px solid #000; border-width: 1px 0;
  position: absolute; z-index: 8; top: 62px; right: 0; left: 0;
  background-color: #DDD;
}
@media all and (min-width: 0) { #notification { top: 60px; } }
#notification.success { border-color: #B6DD95; color: #368A14; background-color: #DFF0D8; }
#notification.error { border-color: #FFB89F; color: #AC3A12; background-color: #FFDBCF; }



/* --- Main content --- */

.layout-container > .module:first-child,
.layout-container .layout-content > .module:first-child,
.layout-container .layout-main > .module:first-child,
.layout-container .layout-sub > .module:first-child { margin-top: 0; }

.layout-breadcrumb {
  height: 24px;
  font-size: 12px; line-height: 24px;
  margin-bottom: 5px; padding-top: 75px;
  text-transform: uppercase; text-indent: 1em;
}
.layout-breadcrumb .separator { font-family: Verdana; padding: 0 .5em; }

#copyright { font-size: .85em; display: inline-block; margin: 10px 0 0 5px; }



/* --- Module --- */

.module { margin-top: 20px; background-color: #FFF; border: 1px solid #DCDCDC; }

.module_header { padding: 0 10px; position: relative;/* z-index: 2;*/ }
.module_header_none { display: none; }

.module_header h2 {
  font-size: 16px; font-weight: normal;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
html[lang="zh-CN"] .module_header h2 { font-family: $font_family-hei; }
.module_header a { color: #888; }

.mod_list { @include no_gap; }
.mod_list > li { @include no_item; border-top: 1px solid #EEE; padding: 15px 5px; }
.mod_list > li:first-child { border-top-width: 0; }
.mod_desc { padding: 0 .5em; }
.mod_empty { font-size: 1.15em; line-height: 6em; margin: 0; padding: 0; text-align: center; }



/* --- Locale --- */

.locale-lang { font-size: 12px; margin-top: 10px; }
.locale-lang > img { float: left; margin: 2px 5px 0 0; }
.locale-lang .comp_select > dt { height: 20px; line-height: 20px; background-color: #FFF; }
.locale-lang .comp_select > dd { width: 100%; }
.locale-lang .comp_select > dd li { height: 22px; line-height: 22px; }



/* --- Item: activity --- */

.activity { font-size: 12px; overflow: hidden; }
.activity .user_info,
.activity_meta { float: left;  margin-right: 10px; }

.user_info {
  width: 40px;
  text-align: right;
  word-wrap: break-word; word-wrap: normal\0; white-space: normal;
}
.user_info .name img { max-width: 100%; }
.user_info .name span { display: block; line-height: 1; margin-top: 5px; }



/* --- Item: comment and activity --- */

.comment_content .edit_link,
.comment_footer .meta dt,
.comment_footer .meta dd,
.activity_footer .meta dt,
.activity_footer .meta dd { @include inline-block; }

.comment_footer .meta,
.activity_footer .meta { font-size: 12px; line-height: 16px; }
.comment_footer .meta dt,
.comment_footer .meta dd,
.activity_footer .meta dt,
.activity_footer .meta dd { vertical-align: top; }
.comment_footer .meta dt,
.activity_footer .meta dt { margin-right: 0; margin-left: 10px; }
.comment_footer .meta dt:first-child,
.activity_footer .meta dt:first-child { margin-left: 0; }
.comment_footer .meta dd,
.activity_footer .meta dd { margin-left: 5px; }



/* --- Item: comment --- */

.comment_header { position: relative; font-size: 12px; }
.comment_header .user_link { font-weight: bold; }
.comment_header .avatar_link { position: absolute; top: 0; right: 0; }
.comment_header .avatar { width: 24px; height: 24px; }

.comment_content .edit_link { margin-left: 10px; padding: 0 5px; text-decoration: none; color: #999; font-size: 12px; }
.comment_content .edit_link:hover { background-color: #E7F3F9; color: #08C; }



/* --- Item: activity --- */

.activity_header { margin-bottom: 5px; }
.activity_header .title,
.activity_header .title-larger { line-height: 1.5; white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis; }
.activity_header .title { font-size: 14px; }
.activity_header .title-larger { font-size: 16px; }

.activity_footer .meta .user { background-image: none; }
.activity_footer .meta dd .subunit { margin: 0 0 0 5px; }
.activity_footer .meta dd .subunit:first-child { margin-left: 0; }

.activity_extra { float: left; margin-right: 10px; }
.activity_extra + .activity_wrapper,
.activity_extra + .activity_content { overflow: hidden; }



/* --- Detail page --- */

.detail_desc > h3 { font-size: 14px; line-height: 20px; margin-bottom: 5px; position: relative; overflow: hidden; }
.detail_desc > h3 span { font-weight: normal; font-size: 12px; }
.detail_desc .title { font-size: 18px; font-weight: bold; color: #333; }
.detail_desc .desc { color: #333; }
.detail_desc .desc > p:first-child, .detail_desc p.desc { margin-top: 0; }
.detail_desc p.desc { margin-bottom: 0; }
.detail_desc .meta { font-size: 12px; margin-top: 5px; }
.detail_desc .meta .info > * { margin-right: 1.2em; }

.detail_division { border-top: 1px solid #EEE; }
.detail_division > h3 { font-size: 14px; font-weight: normal; line-height: 30px; }



/* --- Pagination --- */

.pagination { font-size: 0; *word-spacing: -1px; padding: 10px; }
.pagination > * {
  font: 12px/1.5 Verdana;
  @include inline-block;
  min-width: 1em;
  border: 1px solid transparent;
  margin-right: 5px; padding: .3em .5em;
  letter-spacing: normal; word-spacing: normal;
  text-align: center;
  background-color: #FFF;
}
.pagination a { border-color: #D9D9D9; color: #D9D9D9; }
.pagination a:first-child { margin-left: 0; }
.pagination a:hover { text-decoration: none; background-color: #F7F7F7; }

.pagination .current { font-weight: bold; }
.pagination .gap { background-color: transparent; }
.pagination .disabled { display: none; color: #EEE; border-color: #EEE; background-color: #FFF; cursor: default; }
/*.pagination .first_page, .pagination .last_page,
.pagination .previous_page, .pagination .next_page { font-size: 22px; }*/



/* --- Dialog --- */

.system_dialog { position: relative; overflow: auto; }
.system_dialog .dialog_image,
.system_dialog .dialog_text { margin: 30px 10px; }
.system_dialog .dialog_image { float: left; margin-left: 30px; }
.system_dialog .dialog_text { overflow: hidden; line-height: 1.8; }
.system_dialog .dialog_text strong { color: red; }



/* --- Miscellaneous --- */

.subunit { margin-right: 5px; }
