.Tabs {
  .Tabs-triggers {
    overflow: hidden;
  }

  .Tabs-trigger {
    @include inline-block(none);
    padding: 0 2em;
    cursor: pointer;

    &.is-selected {
      background-color: #FFF;
      font-weight: bold;
      cursor: default;
    }
  }

  a.Tabs-trigger {
    text-decoration: none !important;
  }

  .Tabs-content {
    display: none;

    &.is-selected {
      display: block;
    }
  }
}

.Score,
.Score--small {
  display: block;
  position: relative;
  background-repeat: repeat-x;

  .Score-level {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    background-repeat: repeat-x;
    @include text-hide;
  }
}

.Score,
.Score .Score-level {
  background-image: image-url("star.png");
}

.Score {
  width: 80px;
  height: 16px;
  background-position: 0 -16px;
}

.Score--small,
.Score--small .Score-level {
  background-image: image-url("ministar.png");
}

.Score--small {
  width: 55px;
  height: 10px;
  background-position: 0 -10px;
}
