body {
  color: $color-text;
  background-color: #F7F7F7;
}

input,
button,
textarea {
  color: $color-text-medium;
  background-color: #FFF;
}

input[type="radio"],
input[type="checkbox"] {
  background-color: transparent;
}

label {
  cursor: pointer;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.8;
  margin: .5em 0;
  padding: .25em 0;
}

pre,
code {
  font-family: $font_family-monospace;
  color: $color-text-medium;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid $border_color;
  @include border-radius(3px);
}

pre {
  padding: .75em;
}
