body {
  color: $color-text;
  background-color: #F7F7F7;
}

input,
button,
textarea {
  color: $color-text-medium;
  background-color: #FFF;
}

input[type="radio"],
input[type="checkbox"] {
  background-color: transparent;
}

label {
  cursor: pointer;
}

img {
  max-width: 100%;
}
