@charset "UTF-8";
@import "sass.css.scss";


body[data-page^="home"],
body[data-page="users-show"] {
  .timeline_wrapper { position: relative; padding-bottom: 50px; }
  .timeline_wrapper .pagination { position: absolute; bottom: 0; left: 120px; }

  .activities {
    border-left: 4px solid #B8C4C8;
    position: relative;
    margin-left: 5.5em;
    padding-top: 12px;
  }

  .activity-date {
    width: 70px;
    position: absolute; top: 0; left: -38px;
    font-size: 12px; line-height: 2;
    text-align: center;
    border-radius: 2px;
    background-color: $border;
    color: #FFF;
  }
  .activity-item { padding: 10px 20px; }
  .activity-item.first { padding-top: 50px; }
  .activity-item.last { padding-bottom: 50px; }

  .activities .activity { overflow: visible; font-size: 14px; }
  .activities .content { padding: 10px; @include card_style; background-color: #FFF; }

  .activities .content .meta { padding: 5px; line-height: 30px; position: relative; }
  .activities .content .meta .user { margin: 0 10px 0 0; }

  /* --- 圆点 --- */

  .activities .content .meta:before,
  .activities .content .meta:after { content: "\20"; position: absolute; top: 50%; height: 0; line-height: 0; font: normal normal 0/14px a; }
  .activities .content .meta:before { border: 9px solid #FFF; border-radius: 9px; left: -42px; z-index: 1; margin-top: -9px; }
  .activities .content .meta:after { border: 6px solid #E1D7CD; border-radius: 6px; left: -39px; z-index: 2; margin-top: -6px; }
  .activities .activity-item.current_user .meta:after { border-color: #3FAFD9; }

  /* --- 描述 --- */

  .activities .content .description {
    padding: 15px 5px 5px; margin-top: 10px;
    border-top: 1px solid #DCDCDC;
    overflow: hidden;

    .fl { margin-right: 10px; }
    p { margin: 0; padding: 0; }
    ul, ol { list-style-position: inside; padding-left: 20px; }
  }
}

body[data-page^="home"] {
  .activities.first {
    padding-top: 0;

    dt { display: none; }
    .activity-item.first { padding-top: 0; }
  }

  .load_activities {
    display: block;
    margin: 0 20px 0 (5.5 * 14px + 3px + 20px);
    line-height: 26px;
    text-align: center;

    .loading {
      display: none;

      img { vertical-align: middle; margin-right: 5px; }
    }
  }
}
