@mixin layout-sandwich(
    $page-width: 100%,
    $layout-header-height: 50px,
    $layout-footer-height: 60px
  ) {
  
  html,
  body {
    height: 100%;
  }

  .layout--sandwich {
    // Header of page
    .layout-header {
      position: relative;
      z-index: 10;
      height: $layout-header-height;
      margin-bottom: -$layout-header-height;
    }

    // Footer of page
    .layout-footer {
      height: $layout-footer-height;
      margin-top: -$layout-footer-height;
    }

    .layout-container {
      min-height: 100%;

      &:before,
      &:after {
        content: "\0020";
        display: block;
        position: relative;
        z-index: -999999999;
        background: transparent none;
        visibility: hidden;
      }

      &:before {
        height: $layout-header-height + 2px;
      }

      &:after {
        height: $layout-footer-height + 1px;
      }
    }
  }

  :root .layout--sandwich {
    .layout-header {
      border-bottom: none;
      box-shadow: 0 2px 0.5em -0.2em #666;
    }
  }
}
