doctype html
html(lang="zh")
  head
    meta(charset="UTF-8")
  body
    header.layout-header
      .layout-inner
      nav
        ul.header-nav.nav
    .layout-container.layout-inner
    footer.layout-footer
