doctype html
html(lang="zh")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="../vendor/normalize.css/normalize.css")
    link(rel="stylesheet", href="./application.css")
  body
    header.layout-header
      .layout-inner
        a.logo(href="#")
          img(src="#", alt="logo")
          | LOGO
        nav.header-nav
          ul
            li
              a(href="#")
                | Home
            li
              a(href="#")
                | Articles
            li
              a(href="#")
                | Demos
        ul.header-nav
          li
            a(href="#")
              | Register
          li
            a(href="#")
              | Sign in
    .layout-container.layout-inner
      input(type="button", value="test_button_1")
      button(type="button")
        | test_button_2
      input(type="submit", value="test_submit_1")
      form
        input(type="button", value="test_button_3")
        button(type="button")
          | test_button_4
        input(type="submit", value="test_submit_2")

    footer.layout-footer
